{% load wagtailcore_tags wagtailimages_tags %}

{% if page.image %}
    {% image page.image fill-1920x600 as img %}
    <div class="container-fluid mb-3 py-5 hero align-items-center border-bottom shadow-sm" style="background-image:url('{{ img.url }}');">
        <div class="row py-5">
            <div class="col text-center">
                {% if page.banner_title %}
                    <h1 class="display-1">{{ page.banner_title }}</h1>
                {% else %}
                    <h class="display-1">{{ page.title }}</h1>
                {% endif %}
                {% if page.banner_subtitle %}
                    <p class="display-5">{{ page.banner_subtitle }}</p>
                {% elif page.subtitle %}
                    <p class="display-5">{{ page.subtitle }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <div class="container-fluid mb-3 py-3 bg-secondary border-bottom shadow-sm">
        <div class="row py-1">
            <div class="col text-center">
                {% if page.banner_title %}
                    <h1 class="display-2">{{ page.banner_title }}</h1>
                {% else %}
                    <h1 class="display-2">{{ page.title }}</h1>
                {% endif %}
                {% if page.banner_subtitle %}
                    <p class="display-6">{{ page.banner_subtitle }}</p>
                {% elif page.subtitle %}
                    <p class="display-6">{{ page.subtitle }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{% if page.abstract %}
    <div class="container my-3">
        <div class="row">
            <div class="col">
                {{ page.abstract|richtext }}
            </div>
        </div>
    </div>
    <hr />
{% endif %}
