{% load wagtailcore_tags wagtailimages_tags %}
<div class="container">
    <div class="row">
        {% if self.position == "left" %}
        <div class="col-4">
            {% image self.image original as img %}
            <img class="img-fluid" src="{{ img.url }}" alt="{{ img.alt }}">
        </div>
        {% endif %}
        <div class="col-8">
            {{ self.richtext }}
        </div>
        {% if self.position == "right" %}
        <div class="col-4">
            {% image self.image original as img %}
            <img class="img-fluid" src="{{ img.url }}" alt="{{ img.alt }}">
        </div>
        {% endif %}
    </div>
</div>
