{% load wagtailroutablepage_tags %}

<div class="card my-4">
    <h5 class="card-header bg-primary text-light">About the Article</h5>
    <div class="card-body">
        <h3>Author{% if post_page.authors.count > 1 %}s{% endif %}</h3>
        <ul class="list-unstyled mb-0">
        {% for author in post_page.authors %}
            <li>{{ author }}</li>
        {% endfor %}
        </ul>
        <h3>Categor{% if post_page.categories.count > 1 %}ies{% else %}y{% endif %}</h3>
        <ul class="list-unstyled mb-0">
            {% for category in post_page.categories %}
                <li>
                    <a href='{% routablepageurl blog_page "post_by_category" category.slug %}'><span class="btn btn-secondary">{{ category }}</span></a>
                </li>
            {% empty %}
                No categories yet
            {% endfor %}
        </ul>
        <h3>Tag{% if post_page.tags.count > 1 %}s{% endif %}</h3>
        <ul class="list-unstyled mb-0">
            {% for tag in post_page.tags.all %}
                <li>
                    <a href='{% routablepageurl blog_page "post_by_tag" tag.slug %}'><span class="badge bg-secondary">{{ tag }}</span></a>
                </li>
            {% empty %}
                No tags yet
            {% endfor %}
        </ul>
    </div>
</div>