<footer class="fixed-bottom border-top bg-light p-2">
    <nav aria-label="Footer navigation">
        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <span class="material-icons-outlined">email</span>Karl Mariger
                    <span class="material-icons-outlined">copyright</span>2022
                    <span class="material-icons-outlined">cookie</span>Cookies
                </div>
                
                <div class="col-sm-6 col-md-offset-0 text-end">
                    <a href="https://www.python.org/"><img src="https://www.python.org/static/community_logos/python-powered-w-70x28.png" height="20px" border="0" alt="Python powered." title="Python powered." /></a> 
                    <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangojoint107x25.gif" height="20px" border="0" alt="A Django joint." title="A Django joint." /></a>
                    <a href="https://wagtail.org/"><img src="https://wagtail.org/static/img/wagtail.dbf60545a188.svg" height="20px" border="0" alt="A Wagtail site." title="A Wagtail site." /></a> 
                    <a href="https://github.com/amalise/satchel"><img src="https://img.shields.io/badge/GitHub-100000?style=plastic&logo=github&logoColor=white" height="20px" border="0" alt="Github project." title="Github project." /></a>
                </div>
            </div>

        </div>
    </nav>
</footer>