{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block base_content %}
    {% if page.banner_image %}
        {% image page.banner_image original as bg_img %}
    {% endif %}
    <div class="jumbotron d-flex align-items-center bg-light border-bottom shadow-sm"
            {% if bg_img %}
                style="background-image: url('{{ bg_img.url }}'); height: 40vh;"
            {% else %}
                style="height: 20vh;"
            {% endif %}
    >
        <div class="container text-center">
            <h1 class="display-4 text-center">{{ page.title }}</h1>
            {% if page.subtitle %}
                <h2 class="lead text-center">{{ page.subtitle }}</h2>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <main class="main">
                    {% for block in page.content %}
                        {% include_block block %}
                    {% endfor %}
                </main>
            </div>
        </div>
    </div>
{% endblock %}
