{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block page_header %}
    {% include "include/page_header.html" %}
{% endblock %}

{% block sidebar %}
    {% include "project/side_nav.html" %}
{% endblock %}

{% block content %}

<!--
    Table of Contents
    https://docs.wagtail.org/en/latest/topics/streamfield.html?highlight=streamfield#template-rendering
-->
<main class="container main">
    <div class="row">
        <div class="col">
        {% for block in project_page.page_content %}
            {% include_block block %}
        {% endfor %}
        </div>
    </div>
    {% if project_page.gallery.count > 0 %}
        <div class="row">
            <a id="image-gallery"></a>
            <h2 class="text-primary">Image Gallery</h2>
            {% include "include/gallery.html" %}
        </div>
    {% endif %}
</main>


{% endblock %}
